.signinForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h5 {
  text-align: center;
}

.kakaoBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
