.signupPage {
  height: 100%;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
}

.signup > h1 {
  color: #f9ebde;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  font-size: 30px;
  text-align: center;
}

.signupCard {
  color: #555;
  background-color: #f9ebde;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  width: 500px;
  margin: 0 auto;
}

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 22px;
}

.signupFormItem {
  display: flex;
  flex-direction: column;
}

.signupFormItem > input {
  border: 1px solid #815854;
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}

.signupForm > div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.signupForm button {
  width: 100px;
  padding: 10px;
  border-radius: 4px;
  color: #f9ebde;
  font-size: 16px;
  background-color: #815854;
  border: none;
  cursor: pointer;
}
